body {

background-color: cornsilk;
background-image: url("planta.jpeg");
background-size: cover;

}

.addingmodule {
position: fixed;
left: 10;
top: 10;
}

.content {

width: 928px;
background-color: white;
padding: 1em;
margin: auto;
box-shadow: 0 0 8px #00000041;
}

img {

width: 200px;
display: inline-block;

}

.post {
    display: inline-block;
    padding: 1em;
}

.add {

background-color: #517f51;
color: white;

padding: 0.5em;
border: none;
transition: 200ms;
outline: none;
}

.add:hover {

background-color: #517f5185
}

.delete {

background-color: rgb(235, 235, 235);
color: black;

padding: 0.5em;
border: none;
transition: 200ms;

}

.delete:hover {

background-color: rgba(235, 235, 235, 0.60);
}

.edit {

background-color: rgb(235, 235, 235);
color: black;

padding: 0.5em;
border: none;
transition: 200ms;

}

.edit:hover {

background-color: rgba(235, 235, 235, 0.60);
}

.submit {

background-color: white;
color: black;

padding: 0.5em;
border: none;
transition: 200ms;
outline: none;

}

.submit:hover {

background-color: rgba(255, 255, 255, 0.60);
}

.hidden {
    display: none;
}

.textInput {
padding: 0.5em;
border: none;
background-color:white;
transition: 200ms; 
outline: none;
}

.textInput:hover {

background-color: rgba(255, 255, 255, 0.60);

}

.form {

margin: 0.5em;

}