body {

background-color: cornsilk;
background-image: url("planta.jpeg");
background-size: cover;

}

.content {

width: 928px;
background-color: white;
padding: 1em;
margin: auto;

}

img {

width: 200px;
display: inline-block;

}

.post {
    display: inline-block;
    padding: 1em;
}

.add {

background-color: #517f51;
color: white;

padding: 0.5em;
border: none;
border-radius: 3em; 
transition: 200ms;
}

.add:hover {

background-color: #517f5185
}

.delete {

background-color: rgb(235, 235, 235);
color: black;

padding: 0.5em;
border: none;
transition: 200ms;

}

.delete:hover {

background-color: rgba(235, 235, 235, 0.60);
}